
#About{
    display: flex;
    color: var(--textColor);
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.about-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeDrop 0.5s ease forwards;
}
.about-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 0px;
    
}
.profile-pic{
    background-image: url('../images/profile-pic-alt.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: 80%;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.25);
    width: clamp(200px,20vw,500px);
    height: clamp(200px,20vw,500px);
    animation: fadeDrop 0.5s ease forwards;
    
}

@media only screen and (max-height:600px) {
    .profile-pic{
        width: clamp(150px,20vw,500px);
        height: clamp(150px,20vw,500px);
    }
}
@media only screen and (max-height:550px) {
    .about-content-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .about-text-container{
        width: 60%;
    }
    #About p {
        margin: 0px;
    }
    .profile-pic{
        width: 120px;
        height: 120px;
    }
}

#About p {
    font-size: var(--h4Size);
    font-weight: 200;
    margin: 0px 15vw;
    text-align: center;
    margin: 10px 15vw 20px;
}
@media only screen and (max-height:550px) {
    #About p {
        font-size:12px;
        margin: 0px 10px;
    }
}
#About h2{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size:  var(--h2Size);
    font-weight: 100;
    border-bottom: 2px solid var(--textColor);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#About h3{
    font-size:  var(--h3Size);
}
.stack-icon{
    width: clamp(80px,10vw,200px);
    height: clamp(80px,10vw,200px);
}
.stack-icon-container{
    margin: 0px;
    padding: 0px;
}

#carousel-container{
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    animation: fadeIn 1s ease forwards;

}

.react-multi-carousel-item{
    display: flex;
    justify-content: center;
}
.pet-container{
    width: 115%;
    position: absolute;
    bottom: -5%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: -1;
    animation: fadeIn 1s ease forwards;

}
.cat-pic{
    height: clamp(150px,20vw,600px);
    z-index: 5;
}
.dog-pic{
    height: clamp(150px,20vw,600px);
    z-index: 5;
}

