:root{
    --bgColor:#E5E5E5;
    --textColor:#565656;
    --h1Size: clamp(3.2rem,10vw,10rem);
    --h2Size: clamp(2.8rem,4vw,8rem);
    --h3Size: clamp(2.4rem,4vw,6rem);
    --h4Size: clamp(2rem,4vw,5rem);
    --h5Size: clamp(1.6rem,1vw,4rem);
    --psize: clamp(1rem,1vw,4rem);
}

html{
    background-color: var(--bgColor);
    font-size: 10px;
}
.page{
    margin-top: 80px;
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
}
.page-work{
    margin-top: 80px;
    overflow: hidden;
    position: relative;
}
@media only screen and (max-width:800px) {
    .page{
        margin-top: 30px;
        margin-bottom: 50px;
        height: calc(100vh - 80px)
    }
}
@media only screen and (max-width:400px) {
    .page{
        margin-top: 10px;
        margin-bottom: 10px;
        height: calc(100vh - 20px)
    }
    .page-work{
        margin-top: 50px;
        margin-bottom: 50px;

    }
}
@media only screen and (max-height:300px) {
    .page{
        margin-top: 5px;
        margin-bottom: 50px;
        height: calc(100vh - 55px)
    }
}