.title{
    font-size:  var(--h2Size);
    font-weight: 100;
    border-bottom: 2px solid var(--textColor);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
}
@media only screen and (max-width:800px) {
    .title{
        display: block;
    }
}
/* =================================================================right item============================================== */
.work-item-right{
    display: flex;
    width: 90%;
    height: 50%;
    margin: 3% auto;
    position: relative;
    font-family: 'Roboto', sans-serif;
    
}
@media only screen and (max-width:800px) {
    .work-item-right{
        flex-direction: column;
    }
}
.work-item-right img {
    border: 3px solid rgb(43, 164, 219);
    width: 100%;
    height: auto;
    box-shadow:  2px 4px 4px rgba(0, 0, 0, 0.5);
    animation: fadeGrow 1s ease forwards;
}
.work-stack{
    height:20px;
    width: 20px;
}
.header-div-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid var(--textColor);
    margin-bottom: 5px;
}
.content-div-right{
    width: 100%;
    margin: 0px 3%;
    animation: fadeInRight 2s ease forwards;
}
@media only screen and (max-width:800px) {
    .content-div-right{
        margin: 20px 0px 0px 0px;
    }
}
.header-div-right h4 {
    font-size: var(--h4Size);
    font-weight: 100;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content-div-right p{
    font-size: var(--psize);
    font-weight: 100;
}
@media only screen and (max-width:800px) {
    .content-div-right p{
        font-size: var(--h3Size);
        font-weight: 100;
    }
}
/* =================================================================left item============================================== */
.work-item-left{
    display: flex;
    width: 90%;
    height: 50%;
    margin: 3% auto;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    flex-direction: row-reverse;
    position: relative;
}
@media only screen and (max-width:800px) {
    .work-item-left{
        flex-direction: column;
    }
}
.work-item-left img {
    border: 3px solid rgb(43, 164, 219);
    width: 100%;
    height: auto;
    box-shadow:  2px 4px 4px rgba(0, 0, 0, 0.5);
    animation: fadeGrow 1s ease forwards;
}

.header-div-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid var(--textColor);
    margin-bottom: 5px;
}
.header-stack-div{
    display: flex;
}
.content-div-left{
    width: 100%;
    margin: 0px 3%;
    animation: fadeInLeft 2s ease forwards;
}
@media only screen and (max-width:800px) {
    .content-div-left{
        margin: 20px 0px 0px 0px;
    }
}
.header-div-left h4 {
    font-size: var(--h4Size);
    font-weight: 100;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content-div-left p{
    font-size: var(--psize);
    font-weight: 100;
}
@media only screen and (max-width:800px) {
    .content-div-left p{
        font-size: var(--h3Size);
        font-weight: 100;
    }
}